RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

# Forzar a que las URL acaben con barra al final "/"
RewriteCond %{REQUEST_URI} /+[^.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

# URLs normales, colabora, etc.... El parámetro que recibe es el tipo de contenido que debe mostrarse. 
RewriteRule ^(\w+)/?$ ./index.php?url=$1 [L]